@import "../../../assets/scss/style";
html {
    scroll-behavior: smooth;
}
body {
    background: #fff;
}
.container {
    .pcoded-content {
        padding: 0;
        padding-top: 30px;
    }
}
.pcoded-header {
    z-index: 1028;
    position: relative;
    display: flex;
    min-height: 70px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    top: 0;
    background: transparent;
    color: #3f4d67;
    width: unset;
    margin-left: auto;

    .m-header {
        display: block;
    }
}
.pcoded-header .dropdown.show:before {
    left: -20px;
}
.nav-tabs {
    .nav-item {
        position: relative;
        &.active {
            &::after {
                content: "";
                background-color: #04a9f5;
                position: absolute;
                left: 0;
                top: 10px;
                width: 4px;
                height: 20px;
            }
        }
    }
}
.alphabet-wrapper {
    margin-bottom: 20px;
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;

    a {
        text-transform: uppercase;
        padding: 10px;
        line-height: 10px;
        border-radius: 5px;
        &:hover {
            background-color: #f2f2f2;
        }
        &.disabled {
            cursor: not-allowed;
            color: #888;
        }
    }
}
.Recent-Users {
    .card-header {
        position: relative;

        .arrow-wrapper {
            position: absolute;
            top: 20px;
            right: 0;

            a {
                padding: 20px;
            }
        }
    }
}
#controlled-tab-tabpane-name, #controlled-tab-tabpane-team, #controlled-tab-tabpane-role {
    position: relative;
    .accordion-toggler {
        position: absolute;
        top: -70px;
        right: -20px;
    }
}
.contact-form {
    .card {
        .card-header {
            position: relative;
        }
    }
}
.accordion-toggler {
    position: absolute;
    top: 20px;
    right: 10px;

    a {
        padding: 10px;
        border-radius: 5px;
        &:hover {
            background-color: #f2f2f2;
        }

        svg {
            transition: all .3s;
        }

        &.up {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}
.accordion-body {
    transition: height 0.35s ease;
    
    &.hide {
        position: relative;
        overflow: hidden;
        height: 0 !important;
        padding: 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
    }
}